.header__logo {
  padding-bottom: 41px;
  height: 33px;
}

@media screen and (max-width: 767px) {
  .header__logo {
    height: 24px;
    padding-bottom: 31px;
  }
}

@media screen and (max-width: 767px) {
  .header__logo {
    padding-left: 27px;
  }
}